---
interface Props {
    title: string,
    title1:string,
    text1:string,
    title2:string,
    text2:string,
    title3:string,
    text3:string,
}

const {title,title1,text1,title2,text2,title3,text3} = Astro.props;

---

<aside class="bg-pbdblue text-poffwhite py-6 px-4 space-y-7 md:row-start-2 md:col-start-3 h-max">
    <h2 class="text-3xl font-bold text-psorange">{title}</h2>
    <article class="pb-7 border-b-2">
        <h2 class="text-lg font-bold mb-2">{title1}</h2>
        <p>{text1}</p>
    </article>

    <article class="pb-7 border-b-2">
        <h2 class="text-lg font-bold mb-2">{title2}</h2>
        <p>{text2}</p>
    </article>

    <article class="pb-7 ">
        <h2 class="text-lg font-bold mb-2">{title3}</h2>
        <p>{text3}</p>
    </article>
</aside>

